
  body {
    font-family: 'Montserrat', sans-serif;
  }
  

  #welcome-screen {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 50px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #ccc;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 30px;
  }
  
  #click-here-button {
    font-size: 24px;
    padding: 14px 24px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }
  
  #click-here-button:hover {
    background-color: #45a049;
  }
  body {
    background-image: url('https://media.discordapp.net/attachments/971937835441618975/1063323813867175936/image.png?width=1193&height=671');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0,0,0,0.5); /* opacidade de 50% */
  }
  #welcome-screen{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

#click-here-button{
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    background-color: #3498db;
    padding: 10px 20px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

#click-here-button:hover{
    background-color: #2980b9;
}
